  
    
    ::-webkit-scrollbar{
       display:none;
       }

body {
    
    background-color: black;
}

       
    ::selection {
        background: #FF383F;
        color: black;
    
    }
    html, body {
        width: 100%;
        height: 100%;
        margin: 0 10px;
    }
    body {
        font-size: 13pt;
         font-family: courier;
        color: white;
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
       background-color: black;
    }
    body:before {
      content: "";
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -10;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
    #custom-container {
        padding: .1em 1.5em 1em 1em;
        margin-left: 50px;
        margin-right: 135px;
    }
    #cmdline {
        outline: none;
        background-color: transparent;
        margin: 0;
        width: 100%;
        font: inherit;
        border: none;
        color: inherit;
        inline-size: 350px;
    }
    #output {
        clear: both;
        width: 100%;
        inline-size: 850px;
    }
    #prompt {
        white-space: nowrap;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-orient: vertical;
        display: -moz-box;
        -moz-box-pack: center;
        -moz-box-orient: vertical;
        display: box;
        box-pack: center;
        box-orient: vertical;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .prompt-color {
        color: #32CD32;
    }
    .input-line {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-align: stretch;
        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-align: stretch;
        display: box;
        box-orient: horizontal;
        box-align: stretch;
        clear: both;
    }
    .input-line > div:nth-child(2) {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
    }
    
    /* SIDE NAV */
    
    #sidenav {
    display:none;
    
/*
    @media(max-width:1000px) {
    #backgroundmobile{
             height:auto;
             width: 100%;
             top:0;
          }
    
          #backgroundcrop{
             background-color: var(--darkgray);
          }
    
          #mobilecontainer{
             display: all;
             background-color: var(--darkgray);
          }
    }
    @media screen and (max-width: 450px) {
  
      .prompt{
  
  font-size: 11pt;
  
      }
       
       body {
            font-size: 12pt;
            margin: 0 15px;
        }
        #sidenav {
          position: absolute;
           padding-top: 15px;
       }
        #sidenav a {
           font-size: 13px;
       }
    }
    
    
        #container {
            zoom: 55%;
        }
  
        @media screen and (max-width: 414px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 24px;
        margin: 0 15px;
    }
    #sidenav {
      position: absolute;
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 13px;
   }
  }
  
  
    #container {
        zoom: 90%;
    }   
  
  
  
    @media screen and (max-width: 450px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px;
    }
    #sidenav {
      position: absolute;
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 13px;
   }
  }
  
  
    #container {
        zoom: 55%;
    }
  
    @media screen and (max-width: 376px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
  
  body {
    font-size: 24px;
    margin: 0 5px;
  }
  #sidenav {
  position: absolute;
   padding-top: 15px;
   margin: 0 5px;
  }
  #sidenav a {
   font-size: 13px;
  }
  }
  
  
  #container {
    zoom: 70%;
  }   
  
  @media screen and (max-width: 751px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
  
  body {
    font-size: 24px;
    margin: 0 5px;
  }
  #sidenav {
  position: absolute;
   padding-top: 15px;
   margin: 0 5px;
  }
  #sidenav a {
   font-size: 13px;
  }
  }
  
  
  #container {
    zoom: 70%;
  }   
  
  
  @media screen and (max-width: 1337px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
  
  body {
    font-size: 24px;
    margin: 0 5px;
  }
  #sidenav {
  position: absolute;
   padding-top: 15px;
   margin: 0 5px;
  }
  #sidenav a {
   font-size: 13px;
  }
  }
  
  
  #container {
    zoom: 70%;
  }
  
    @media screen and (max-width: 390px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px;
    }
    #sidenav {
      position: absolute;
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 13px;
   }
  }
  
  
    #container {
        zoom: 63%;
    }   
  
    @media screen and (max-width: 360px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px;
    }
    #sidenav {
      position: absolute;
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 13px;
   }
  }
  
  
    #container {
        zoom: 60%;
    }   
  
    @media screen and (max-width: 740px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px;
    }
    #sidenav {
      position: absolute;
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 60%;
    }   
  
  
    @media screen and (max-width: 845px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 55px;
    }
    #sidenav {
      position: absolute;
       padding-top: 15px;
   }
    #sidenav a {
       font-size: 13px;
   }
  }
  
  
    #container {
        zoom: 60%;
    }   
  
    @media screen and (max-width: 852px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 8;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 65%;
    }   
  
  
  
    @media screen and (max-width: 916px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 8;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 65%;
    }   
  
    @media screen and (max-width: 822px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 8;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 85%;
    }   
  
  
    @media screen and (max-width: 541px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 15px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 8;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 65%;
    }   
  
    @media screen and (max-width: 281px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 55px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 8;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 45%;
    }
    
    @media screen and (max-width: 655px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 35px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 5px;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 45%;
    } 
  
    @media screen and (max-width: 413px) {
  
  .prompt{
  
  font-size: 11pt;
  
  }
   
   body {
        font-size: 12pt;
        margin: 0 35px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 5px;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 10px;
   }
  }
  
  
    #container {
        zoom: 65%;
    } 
  
  
    @media screen and (max-width: 915px) {
  
  .prompt{
  
  font-size: 9pt;
  
  }
   
   body {
        font-size: 10pt;
        margin: 0 55px 0;
    }
    #sidenav {
      position: absolute;
      margin: 0 10px;
       padding-top: 15px;
       font-size: 10px;
   }
    #sidenav a {
       font-size: 9px;
   }
  }
  
  
    #container {
        zoom: 55%;
    } 
*/
